{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="width: 800px;">
  <h2>Patient Billing</h2>
  <form action="patient_billing_action" method="POST">
    <div class="container" style="width: 500px;">
      <label for="SSNID"><b>Patient ID</b><span class="required">*</span></label>
    
          <input type="text" name="patient_id" required=required  maxlength="9"  pattern="\d{9}"  placeholder="Enter 9 digit Patient ID" />
    



      <button type="submit" class="button">View Bill</button>

    </div>
    <form>
</div>


{% endblock %}