{% extends 'base.html' %}
{% block content %}

<div class="container">
    <p style="text-align:center;font-size:200%;font-weight:bold">View Diagnostics List</p>
    <div style="text-align:center">

    
        <table id="example" class="table table-striped table-bordered table-sm" style="text-align:center; width: 100%;">

            <thead>
                <tr>
                    <th>Diagnosis ID</th>
                    <th>Diagnosis Name</th>
                    <th>Cost</th>
                    
                    
                </tr>
            </thead>

            <tbody>
                {% for key in data %}
                <tr>
                    <td>{{key.test_id}}</td>
                    <td>{{key.test_name}}</td>
                    <td>{{key.charge}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>


    </div>
</div>




{% endblock %}